@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Entrá Boludo</p>
    <p>@Html.ActionLink("enlace", "Saludo", new { nombre = "Calvo" }, null)</p>
</div>
